body {
	background-color: #2980b9;
	color: #f0f0f0;
	color: rgba(255, 255, 255, 0.8);
	
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

#mobile-view,
#desktop-view
{
	display: none;
	margin: 0;
	padding: 0;
	height: 0;
	width: 0;
}


header {
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid rgba(255, 255, 255, 1);
	color: #2980B9;
	
	font-size: 1.4rem;
	line-height: 2;
	
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

header .menu-icon {
	text-align: center;
	
	display: inline-block;
	width: 20%;
	vertical-align: middle;
}

header .logo {
	font-size: 2em;
	text-align: center;
	
	display: inline-block;
	margin: 0 20%;
	vertical-align: middle;
}

header .menu-icon svg {
	display: block;
	padding: 25%;
	width: 50%;
	height: 50%;
}


.pane {
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	
	position: absolute;
	top: 0;
	left: 0;
}

.pane-title {
	color: #2980b9;
	
	font-size: 5em;
	font-weight: 500;
	
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	
	position: fixed;
	top: 0;
	left: 0;
	
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(1, 1.6, 0, 1) 0s;
	-moz-transition: -moz-transform 0.5s cubic-bezier(1, 1.6, 0, 1) 0s;
	-ms-transition: -ms-transform 0.5s cubic-bezier(1, 1.6, 0, 1) 0s;
	-o-transition: -o-transform 0.5s cubic-bezier(1, 1.6, 0, 1) 0s;
	transition: transform 0.5s cubic-bezier(1, 1.6, 0, 1) 0s;
	
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}

.saved-view .saved-pane .pane-title,
.search-view .search-pane .pane-title
{
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(1, 1.6, 0, 1) 0.5s;
	-moz-transition: -moz-transform 0.5s cubic-bezier(1, 1.6, 0, 1) 0.5s;
	-ms-transition: -ms-transform 0.5s cubic-bezier(1, 1.6, 0, 1) 0.5s;
	-o-transition: -o-transform 0.5s cubic-bezier(1, 1.6, 0, 1) 0.5s;
	transition: transform 0.5s cubic-bezier(1, 1.6, 0, 1) 0.5s;
	
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	-o-transform: translateY(0%);
	transform: translateY(0%);
}


/**
* Loading View
**/
.loading-view .menu-icon {
	display: none;
}

.loading-view .menu-icon.logo {
	margin: 0 auto;
	width: 30%;
	
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}



/**
* River Search View
**/

.search-pane {
	display: block;
	margin: 0;
	padding: 0;
	height: 90%;
	width: 90%;
	
	position: fixed;
	left: ;
	z-index: 5;
	
	-webkit-transform: translateX(200%);
	-moz-transform: translateX(200%);
	-ms-transform: translateX(200%);
	-o-transform: translateX(200%);
	transform: translateX(200%);
}

.search-view .search-pane {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	-ms-transform: translateX(0%);
	-o-transform: translateX(0%);
	transform: translateX(0%);
}

.search-view .saved-pane {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}

.search-view .conditions-pane {
	-webkit-transform: translateX(-200%);
	-moz-transform: translateX(-200%);
	-ms-transform: translateX(-200%);
	-o-transform: translateX(-200%);
	transform: translateX(-200%);
}


/**
* River Information View
**/

.conditions-pane {
	display: none;
}

.conditions-view .conditions-pane {
	text-align: center;
	
	display: block;
	width: 100%;
}

.conditions-view .flow {
	font-family: 'Roboto', sans-serif;
	font-size: 30em;
	line-height: 2;
	font-weight: 100;
	text-align: center;
	
	display: inline-block;
	
	position: relative;
}

.conditions-view .unit-cfs:after {
	color: rgba(255, 255, 255, 0.5);
	
	content: "f\b3/s";
	
	font-size: .25em;
	font-weight: 100;
	text-transform: lowercase;
	
	display: inline-block;
	margin: 0;
	margin-left: .25em;
	padding: 0;
	vertical-align: top;
	
	position: absolute;
	top: 2em;
	left: 100%;
}


/**
* Saved Rivers View
**/

.saved-pane {
	
}



/**
* Settings View
**/


/**
* Desktop View
**/

/**
* Browser View
**/


/** hamburger icon styles **/
.hamburger {
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(1, 1.5, 0, 1);
	-moz-transition: -moz-transform 0.4s cubic-bezier(1, 1.5, 0, 1);
	-ms-transition: -ms-transform 0.4s cubic-bezier(1, 1.5, 0, 1);
	-o-transition: -o-transform 0.4s cubic-bezier(1, 1.5, 0, 1);
	transition: transform 0.4s cubic-bezier(1, 1.5, 0, 1);
}

.hamburger-line {
	stroke-width: 10%;
	stroke: #2980b9;
	stroke-linecap: round;
	
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.hamburger-rect {
	fill: rgba(255, 255, 255, 0.8);
	fill: #2980b9;
	
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	
	-webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.4s ease-in-out, opacity 0.3s ease-in;
	-ms-transition: -ms-transform 0.4s ease-in-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.4s ease-in-out, opacity 0.3s ease-in;
	transition: transform 0.4s ease-in-out, opacity 0.3s ease-in;
}

.hidden .hamburger-rect,
.search-view .hamburger-rect
{
	-webkit-transition-delay: 0s, 0.2s;
	-moz-transition-delay: 0s, 0.2s;
	-ms-transition-delay: 0s, 0.2s;
	-o-transition-delay: 0s, 0.2s;
	transition-delay: 0s, 0.2s;
	
	opacity: 0;
}

.hidden .hamburger-top,
.search-view .hamburger-top
{
	-webkit-transform: translateY(250%) rotateZ(180deg);
	-moz-transform: translateY(250%) rotateZ(180deg);
	-ms-transform: translateY(250%) rotateZ(180deg);
	-o-transform: translateY(250%) rotateZ(180deg);
	transform: translateY(250%) rotateZ(180deg);
}

.hidden .hamburger-bottom,
.search-view .hamburger-bottom
{
	-webkit-transform: translateY(-250%) rotateZ(-180deg);
	-moz-transform: translateY(-250%) rotateZ(-180deg);
	-ms-transform: translateY(-250%) rotateZ(-180deg);
	-o-transform: translateY(-250%) rotateZ(-180deg);
	transform: translateY(-250%) rotateZ(-180deg);
}
/** end of hamburger icon styles **/


/** cross icon styles **/
.cross-icon .hamburger-top {
	-webkit-transform: translateY(250%) rotateZ(45deg);
	-moz-transform: translateY(250%) rotateZ(45deg);
	-ms-transform: translateY(250%) rotateZ(45deg);
	-o-transform: translateY(250%) rotateZ(45deg);
	transform: translateY(250%) rotateZ(45deg);
}

.cross-icon .hamburger-middle {
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.cross-icon .hamburger-bottom {
	-webkit-transform: translateY(-250%) rotateZ(-45deg);
	-moz-transform: translateY(-250%) rotateZ(-45deg);
	-ms-transform: translateY(-250%) rotateZ(-45deg);
	-o-transform: translateY(-250%) rotateZ(-45deg);
	transform: translateY(-250%) rotateZ(-45deg);
}
/** end of cross icon styles **/


/** gear icon styles **/
.gear .gear-wheel {
	fill: none;
	
	stroke: rgba(255, 255, 255, 0.8);
	stroke: #2980b9;
	stroke-width: 7.5%;
	
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0, 1.4, 1, 1.4);
	-moz-transition: -moz-transform 0.5s cubic-bezier(0, 1.4, 1, 1.4);
	-ms-transition: -ms-transform 0.5s cubic-bezier(0, 1.4, 1, 1.4);
	-o-transition: -o-transform 0.5s cubic-bezier(0, 1.4, 1, 1.4);
	transition: transform 0.5s cubic-bezier(0, 1.4, 1, 1.4);
	
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.hidden .gear .gear-wheel,
.search-view .gear .gear-wheel
{
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0, 1.4, 1, 1.4) 0.6s;
	-moz-transition: -moz-transform 0.5s cubic-bezier(0, 1.4, 1, 1.4) 0.6s;
	-ms-transition: -ms-transform 0.5s cubic-bezier(0, 1.4, 1, 1.4) 0.6s;
	-o-transition: -o-transform 0.5s cubic-bezier(0, 1.4, 1, 1.4) 0.6s;
	transition: transform 0.5s cubic-bezier(0, 1.4, 1, 1.4) 0.6s;
}

.conditions-view .gear .gear-wheel {
	-webkit-transform: translateY(-25%) translateX(-25%);
	-moz-transform: translateY(-25%) translateX(-25%);
	-ms-transform: translateY(-25%) translateX(-25%);
	-o-transform: translateY(-25%) translateX(-25%);
	transform: translateY(-25%) translateX(-25%);
}

.gear .gear-tooth {
	fill: rgba(255, 255, 255, 0.8);
	fill: #2980b9;
	
	-webkit-transform-origin: 50% 300%;
	-moz-transform-origin: 50% 300%;
	-ms-transform-origin: 50% 300%;
	-o-transform-origin: 50% 300%;
	transform-origin: 50% 300%;
	
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.8, 0, 0.2, 1) 0.7s, opacity 0.01s linear 0.45s;
	-moz-transition: -moz-transform 0.5s cubic-bezier(0.8, 0, 0.2, 1) 0.7s, opacity 0.01s linear 0.45s;
	-ms-transition: -ms-transform 0.5s cubic-bezier(0.8, 0, 0.2, 1) 0.7s, opacity 0.01s linear 0.45s;
	-o-transition: -o-transform 0.5s cubic-bezier(0.8, 0, 0.2, 1) 0.7s, opacity 0.01s linear 0.45s;
	transition: transform 0.5s cubic-bezier(0.8, 0, 0.2, 1) 0.7s, opacity 0.01s linear 0.45s;
}

.hidden .gear .gear-tooth,
.conditions-view .gear .gear-tooth,
.search-view .gear .gear-tooth
{
	opacity: 0;
	
	-webkit-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
	
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.8, 0, 0.2, 1) 0s, opacity 0.1s linear 0.5s;
	-moz-transition: -moz-transform 0.5s cubic-bezier(0.8, 0, 0.2, 1) 0s, opacity 0.1s linear 0.5s;
	-ms-transition: -ms-transform 0.5s cubic-bezier(0.8, 0, 0.2, 1) 0s, opacity 0.1s linear 0.5s;
	-o-transition: -o-transform 0.5s cubic-bezier(0.8, 0, 0.2, 1) 0s, opacity 0.1s linear 0.5s;
	transition: transform 0.5s cubic-bezier(0.8, 0, 0.2, 1) 0s, opacity 0.1s linear 0.5s;
}

.gear-tooth:nth-of-type(n+1) {
	-webkit-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
}

.gear-tooth:nth-of-type(n+2) {
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.gear-tooth:nth-of-type(n+3) {
	-webkit-transform: rotateZ(90deg);
	-moz-transform: rotateZ(90deg);
	-ms-transform: rotateZ(90deg);
	-o-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
}

.gear-tooth:nth-of-type(n+4) {
	-webkit-transform: rotateZ(135deg);
	-moz-transform: rotateZ(135deg);
	-ms-transform: rotateZ(135deg);
	-o-transform: rotateZ(135deg);
	transform: rotateZ(135deg);
}

.gear-tooth:nth-of-type(n+5) {
	-webkit-transform: rotateZ(180deg);
	-moz-transform: rotateZ(180deg);
	-ms-transform: rotateZ(180deg);
	-o-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
}

.gear-tooth:nth-of-type(n+6) {
	-webkit-transform: rotateZ(225deg);
	-moz-transform: rotateZ(225deg);
	-ms-transform: rotateZ(225deg);
	-o-transform: rotateZ(225deg);
	transform: rotateZ(225deg);
}

.gear-tooth:nth-of-type(n+7) {
	-webkit-transform: rotateZ(270deg);
	-moz-transform: rotateZ(270deg);
	-ms-transform: rotateZ(270deg);
	-o-transform: rotateZ(270deg);
	transform: rotateZ(270deg);
}

.gear-tooth:nth-of-type(n+8) {
	-webkit-transform: rotateZ(315deg);
	-moz-transform: rotateZ(315deg);
	-ms-transform: rotateZ(315deg);
	-o-transform: rotateZ(315deg);
	transform: rotateZ(315deg);
}

.gear-line {
	fill: none;
	
	stroke: rgba(255, 255, 255, 0.8);
	stroke: #2980b9;
	stroke-width: 7.5%;
	stroke-dasharray: 0%;
	
	-webkit-transition: stroke-dashoffset 0.3s ease-in-out;
	-moz-transition: stroke-dashoffset 0.3s ease-in-out;
	-ms-transition: stroke-dashoffset 0.3s ease-in-out;
	-o-transition: stroke-dashoffset 0.3s ease-in-out;
	transition: stroke-dashoffset 0.3s ease-in-out;
}

.hidden .gear .gear-line,
.saved-view .gear-line,
.search-view .gear-line
{
	stroke-dashoffset: 100%;
}
/** end of gear icon styles **/


/** droplet icon styles **/
.droplet .droplet-path {
	fill: none;
	
	stroke: rgba(255, 255, 255, 0.8);
	stroke: #2980b9;
	stroke-width: 5%;
	stroke-dasharray: 230;
	stroke-dashoffset: 0;
	
	-webkit-transition: stroke-dashoffset 0.5s ease-in;
	-moz-transition: stroke-dashoffset 0.5s ease-in;
	-ms-transition: stroke-dashoffset 0.5s ease-in;
	-o-transition: stroke-dashoffset 0.5s ease-in;
	transition: stroke-dashoffset 0.5s ease-in;
}

.hidden .droplet .droplet-path,
.saved-view .droplet .droplet-path,
.search-view .droplet .droplet-path
{
	stroke-dashoffset: 230;
}
/** end of droplet icon styles **/



/** mobile-only styles **/
@media only screen and (max-width : 768px) {
	
	.pane {
		padding-top: 13em;
	}
	
	#mobile-view {
		display: block;
	}
}
/** end of mobile-only styles **/



/** desktop-only styles **/
@media only screen and (min-width : 768px) {
	
	.pane {
		padding-top: 320px;
	}
	
	#desktop-view {
		display: block;
	}
}
/** end of desktop-only styles **/