body {
	background-color: #2980b9;
	background-color: #eeeeee;
	color: #f0f0f0;
	color: rgba(255, 255, 255, 0.8);
	
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

#mobile-view,
#desktop-view
{
	display: none;
	margin: 0;
	padding: 0;
	height: 0;
	width: 0;
}


header {
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	color: #2980B9;
	
	font-size: 1.4rem;
	line-height: 200px;
	
	display: block;
	margin: 0;
	padding: 0;
	height: 200px;
	width: 100%;
	
	position: fixed;
	top: 0;
	left: 0;
	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

header .logo-container {
	font-size: 2em;
	line-height: 200px;
	text-align: center;
	
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 200px;
	width: 200px;
	
	position: absolute;
	top: 50%;
	left: 50%;
	
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

header .logo-container .logo {
	font-size: 1em;
	line-height: inherit;
	
	display: block;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}



.pane-container {
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
	position: absolute;
	top: 200px;
	left: 0;
	right: 0;
	bottom: 0;
	
	-webkit-transition: -webkit-transform 0.5s linear 0s;
	-moz-transition: -moz-transform 0.5s linear 0s;
	-ms-transition: -ms-transform 0.5s linear 0s;
	-o-transition: -o-transform 0.5s linear 0s;
	transition: transform 0.5s linear 0s;
}

.pane {
	display: block;
	margin: 0;
	padding: 0;
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.pane-title {
	color: #2980b9;
	
	font-size: 5em;
	font-weight: 500;
	text-align: center;
	
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 50%;
	
	position: fixed;
	top: 0;
	left: 25%;
	
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	-o-transform: translateY(-200%);
	transform: translateY(-200%);
}

.saved-view .saved-pane .pane-title,
.search-view .search-pane .pane-title
{
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(1, 1.5, 0, 1) 0.5s;
	-moz-transition: -moz-transform 0.5s cubic-bezier(1, 1.5, 0, 1) 0.5s;
	-ms-transition: -ms-transform 0.5s cubic-bezier(1, 1.5, 0, 1) 0.5s;
	-o-transition: -o-transform 0.5s cubic-bezier(1, 1.5, 0, 1) 0.5s;
	transition: transform 0.5s cubic-bezier(1, 1.5, 0, 1) 0.5s;
	
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}


/**
* Loading View
**/

.loading-view header {
	height: 100%;
}

.loading-view header .logo {
	-webkit-transform: scale(4);
	-moz-transform: scale(4);
	-ms-transform: scale(4);
	-o-transform: scale(4);
	transform: scale(4);
}

.loading-view header .search-container {
	opacity: 0;
}


/**
* River Search View
**/

.search-container {
	background-color: #ffffff;
	
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 200px;
	
	position: absolute;
	right: 50px;
	top: 50%;
	margin-top: -100px;
	z-index: 1;
	
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.search-container input {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 100px;
	
	opacity: 0;
	
	font-size: 60px;
	line-height: 100px;
	
	display: block;
	margin: 25px 0;
	padding: 25px 50px;
	padding-right: 200px;
	height: 100px;
	width: 0;
	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.search-container input:focus {
	border-color: rgba(0, 0, 0, 0.3);
	opacity: 1;
	
	width: 600px;
}

.search-container .search-icon {
	
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 200px;
	width: 200px;
	
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -100px;
	
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out;
	-ms-transition: -ms-transform 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
}

.search-container input:focus + .search-icon {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}



.search-pane {
	-webkit-transform: translateX(200%);
	-moz-transform: translateX(200%);
	-ms-transform: translateX(200%);
	-o-transform: translateX(200%);
	transform: translateX(200%);
}

.search-view .pane-container {
	-webkit-transform: translateX(-200%);
	-moz-transform: translateX(-200%);
	-ms-transform: translateX(-200%);
	-o-transform: translateX(-200%);
	transform: translateX(-200%);
}


/**
* River Information View
**/

.conditions-view .pane-container {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	-ms-transform: translateX(0%);
	-o-transform: translateX(0%);
	transform: translateX(0%);
}

.conditions-view .conditions-pane {
	text-align: center;
}

.conditions-view .flow {
	font-family: 'Roboto', sans-serif;
	font-size: 30em;
	line-height: 2;
	font-weight: 100;
	text-align: center;
	
	display: inline-block;
	
	position: relative;
}

.conditions-view .unit-cfs:after {
	color: rgba(255, 255, 255, 0.5);
	
	content: "f\b3/s";
	
	font-size: .25em;
	font-weight: 100;
	text-transform: lowercase;
	
	display: inline-block;
	margin: 0;
	margin-left: .25em;
	padding: 0;
	vertical-align: top;
	
	position: absolute;
	top: 2em;
	left: 100%;
}


/**
* Saved Rivers View
**/

.saved-view .pane-container {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}

.saved-pane {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}



/**
* Settings View
**/


/**
* Desktop View
**/

/**
* Browser View
**/


/** hamburger icon styles **/
.hamburger {
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(1, 1.5, 0, 1);
	-moz-transition: -moz-transform 0.4s cubic-bezier(1, 1.5, 0, 1);
	-ms-transition: -ms-transform 0.4s cubic-bezier(1, 1.5, 0, 1);
	-o-transition: -o-transform 0.4s cubic-bezier(1, 1.5, 0, 1);
	transition: transform 0.4s cubic-bezier(1, 1.5, 0, 1);
}

.hamburger-line {
	stroke-width: 10%;
	stroke: #2980b9;
	stroke-linecap: round;
	
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.hamburger-rect {
	fill: rgba(255, 255, 255, 0.8);
	fill: #2980b9;
	
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	
	-webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.4s ease-in-out, opacity 0.3s ease-in;
	-ms-transition: -ms-transform 0.4s ease-in-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.4s ease-in-out, opacity 0.3s ease-in;
	transition: transform 0.4s ease-in-out, opacity 0.3s ease-in;
}

.hidden .hamburger .hamburger-rect,
.edit-mode .hamburger .hamburger-rect
{
	-webkit-transition-delay: 0s, 0.2s;
	-moz-transition-delay: 0s, 0.2s;
	-ms-transition-delay: 0s, 0.2s;
	-o-transition-delay: 0s, 0.2s;
	transition-delay: 0s, 0.2s;
	
	opacity: 0;
}

.hidden .hamburger .hamburger-top,
.edit-mode .hamburger .hamburger-top
{
	-webkit-transform: translateY(250%) rotateZ(180deg);
	-moz-transform: translateY(250%) rotateZ(180deg);
	-ms-transform: translateY(250%) rotateZ(180deg);
	-o-transform: translateY(250%) rotateZ(180deg);
	transform: translateY(250%) rotateZ(180deg);
}

.hidden .hamburger .hamburger-bottom,
.edit-mode .hamburger .hamburger-bottom
{
	-webkit-transform: translateY(-250%) rotateZ(-180deg);
	-moz-transform: translateY(-250%) rotateZ(-180deg);
	-ms-transform: translateY(-250%) rotateZ(-180deg);
	-o-transform: translateY(-250%) rotateZ(-180deg);
	transform: translateY(-250%) rotateZ(-180deg);
}
/** end of hamburger icon styles **/


/** cross icon styles **/
.cross-icon .hamburger-top,
.saved-view .hamburger-top,
.search-view .hamburger-top
{
	-webkit-transform: translateY(250%) rotateZ(45deg);
	-moz-transform: translateY(250%) rotateZ(45deg);
	-ms-transform: translateY(250%) rotateZ(45deg);
	-o-transform: translateY(250%) rotateZ(45deg);
	transform: translateY(250%) rotateZ(45deg);
}

.cross-icon .hamburger-middle,
.saved-view .hamburger-middle,
.search-view .hamburger-middle
{
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.cross-icon .hamburger-bottom,
.saved-view .hamburger-bottom,
.search-view .hamburger-bottom
{
	-webkit-transform: translateY(-250%) rotateZ(-45deg);
	-moz-transform: translateY(-250%) rotateZ(-45deg);
	-ms-transform: translateY(-250%) rotateZ(-45deg);
	-o-transform: translateY(-250%) rotateZ(-45deg);
	transform: translateY(-250%) rotateZ(-45deg);
}
/** end of cross icon styles **/


/** search icon styles **/
.search-icon circle {
	fill: none;
	
	stroke: rgba(255, 255, 255, 0.8);
	stroke: #2980b9;
	stroke-width: 7.5%;
	
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1.4, 1, 1.4);
	-moz-transition: -moz-transform 0.3s cubic-bezier(0, 1.4, 1, 1.4);
	-ms-transition: -ms-transform 0.3s cubic-bezier(0, 1.4, 1, 1.4);
	-o-transition: -o-transform 0.3s cubic-bezier(0, 1.4, 1, 1.4);
	transition: transform 0.3s cubic-bezier(0, 1.4, 1, 1.4);
	
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.hidden.search-icon circle,
.hidden .search-icon circle
{
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}

.search-icon line {
	fill: none;
	
	stroke: rgba(255, 255, 255, 0.8);
	stroke: #2980b9;
	stroke-width: 7.5%;
	stroke-dasharray: 50;
	stroke-linecap: round;
	
	-webkit-transition: stroke-dashoffset 0.3s ease-in 0.2s;
	-moz-transition: stroke-dashoffset 0.3s ease-in 0.2s;
	-ms-transition: stroke-dashoffset 0.3s ease-in 0.2s;
	-o-transition: stroke-dashoffset 0.3s ease-in 0.2s;
	transition: stroke-dashoffset 0.3s ease-in 0.2s;
}

.hidden.search-icon line,
.hidden .search-icon line
{
	stroke-dashoffset: 50;
}
/** end of gear icon styles **/


/** droplet icon styles **/
.droplet {
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-moz-transition: -moz-transform 0.5s ease-in-out;
	-ms-transition: -ms-transform 0.5s ease-in-out;
	-o-transition: -o-transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
}

.droplet .droplet-path {
	fill: none;
	
	stroke: rgba(255, 255, 255, 0.8);
	stroke: #2980b9;
	stroke-width: 7.5%;
	stroke-dasharray: 230;
	stroke-dashoffset: 0;
	
	-webkit-transition: stroke-dashoffset 0.5s ease-in;
	-moz-transition: stroke-dashoffset 0.5s ease-in;
	-ms-transition: stroke-dashoffset 0.5s ease-in;
	-o-transition: stroke-dashoffset 0.5s ease-in;
	transition: stroke-dashoffset 0.5s ease-in;
	
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.hidden .droplet .droplet-path
{
	stroke-dashoffset: 230;
}
/** end of droplet icon styles **/



/** mobile-only styles **/
@media only screen and (max-width : 768px) {
	
	.pane-container {
	}
	
	.pane-title {
	}
	
	#mobile-view {
		display: block;
	}
}
/** end of mobile-only styles **/



/** desktop-only styles **/
@media only screen and (min-width : 768px) {
	
	.pane-container {
	}
	
	.pane-title {
	}
	
	#desktop-view {
		display: block;
	}
}
/** end of desktop-only styles **/






