body {
	background-color: #2980b9;
	color: #f0f0f0;
	
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	
}



header {
	background-color: rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	color: rgba(0, 0, 0, 0.6);
	
	font-size: 1.4rem;
	line-height: 2;
	
	display: block;
	margin: 0;
	padding: 0;
	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

header .menu-icon {
	text-align: center;
	
	display: inline-block;
	width: 20%;
	vertical-align: middle;
}

header .logo {
	font-size: 2em;
	text-align: center;
	
	display: inline-block;
	margin: 0 20%;
	vertical-align: middle;
}

header .menu-icon svg {
	display: block;
	padding: 25%;
	width: 50%;
	height: 50%;
}


/**
* Loading View
**/
.loading-view .menu-icon {
	display: none;
}

.loading-view .menu-icon.logo {
	margin: 0 auto;
	width: 30%;
	
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}



/**
* River Search View
**/
.river-search-view {
	
}


/**
* River Information View
**/

.river-information-view .current-conditions {
	text-align: center;
	
	display: block;
	width: 100%;
}

.river-information-view .flow {
	font-family: 'Roboto', sans-serif;
	font-size: 25em;
	line-height: 2;
	font-weight: 100;
	text-align: center;
	
	display: inline-block;
	
	position: relative;
}

.river-information-view .unit-cfs:after {
	color: #aaaaaa;
	
	content: "f\b3/s";
	
	font-size: .25em;
	font-weight: 100;
	text-transform: lowercase;
	
	display: inline-block;
	margin: 0;
	margin-left: .25em;
	padding: 0;
	vertical-align: top;
	
	position: absolute;
	top: 2em;
	left: 100%;
}


/**
* Saved Rivers View
**/


/**
* Settings View
**/


/**
* Desktop View
**/

/**
* Browser View
**/


/** hamburger icon styles **/
.hamburger {
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(1, 1.5, 0, 1);
	-moz-transition: -moz-transform 0.4s cubic-bezier(1, 1.5, 0, 1);
	-ms-transition: -ms-transform 0.4s cubic-bezier(1, 1.5, 0, 1);
	-o-transition: -o-transform 0.4s cubic-bezier(1, 1.5, 0, 1);
	transition: transform 0.4s cubic-bezier(1, 1.5, 0, 1);
}

.hamburger-line {
	stroke-width: 10%;
	stroke: #222222;
	stroke-linecap: round;
	
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.hamburger-rect {
	fill: rgba(255, 255, 255, 0.8);
	
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	
	-webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.4s ease-in-out, opacity 0.3s ease-in;
	-ms-transition: -ms-transform 0.4s ease-in-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.4s ease-in-out, opacity 0.3s ease-in;
	transition: transform 0.4s ease-in-out, opacity 0.3s ease-in;
}

.hidden .hamburger {
	-webkit-transform: translateX(-150%);
	-moz-transform: translateX(-150%);
	-ms-transform: translateX(-150%);
	-o-transform: translateX(-150%);
	transform: translateX(-150%);
}
/** end of hamburger icon styles **/


/** cross icon styles **/
.cross-icon .hamburger-top {
	-webkit-transform: translateY(250%) rotateZ(45deg);
	-moz-transform: translateY(250%) rotateZ(45deg);
	-ms-transform: translateY(250%) rotateZ(45deg);
	-o-transform: translateY(250%) rotateZ(45deg);
	transform: translateY(250%) rotateZ(45deg);
}

.cross-icon .hamburger-middle {
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.cross-icon .hamburger-bottom {
	-webkit-transform: translateY(-250%) rotateZ(-45deg);
	-moz-transform: translateY(-250%) rotateZ(-45deg);
	-ms-transform: translateY(-250%) rotateZ(-45deg);
	-o-transform: translateY(-250%) rotateZ(-45deg);
	transform: translateY(-250%) rotateZ(-45deg);
}
/** end of cross icon styles **/


/** gear icon styles **/
.gear .gear-wheel {
	fill: none;
	
	stroke: rgba(255, 255, 255, 0.8);
	stroke-width: 7.5%;
	
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0, 1.4, 1, 1.4);
	-moz-transition: -moz-transform 0.5s cubic-bezier(0, 1.4, 1, 1.4);
	-ms-transition: -ms-transform 0.5s cubic-bezier(0, 1.4, 1, 1.4);
	-o-transition: -o-transform 0.5s cubic-bezier(0, 1.4, 1, 1.4);
	transition: transform 0.5s cubic-bezier(0, 1.4, 1, 1.4);
	
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.hidden .gear .gear-wheel {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0, 1.4, 1, 1.4) 0.6s;
	-moz-transition: -moz-transform 0.5s cubic-bezier(0, 1.4, 1, 1.4) 0.6s;
	-ms-transition: -ms-transform 0.5s cubic-bezier(0, 1.4, 1, 1.4) 0.6s;
	-o-transition: -o-transform 0.5s cubic-bezier(0, 1.4, 1, 1.4) 0.6s;
	transition: transform 0.5s cubic-bezier(0, 1.4, 1, 1.4) 0.6s;
}

.gear .gear-tooth {
	fill: rgba(255, 255, 255, 0.8);
	
	-webkit-transform-origin: 50% 300%;
	-moz-transform-origin: 50% 300%;
	-ms-transform-origin: 50% 300%;
	-o-transform-origin: 50% 300%;
	transform-origin: 50% 300%;
	
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.8, 0, 0.2, 1) 0.7s, opacity 0.01s linear 0.45s;
	-moz-transition: -moz-transform 0.5s cubic-bezier(0.8, 0, 0.2, 1) 0.7s, opacity 0.01s linear 0.45s;
	-ms-transition: -ms-transform 0.5s cubic-bezier(0.8, 0, 0.2, 1) 0.7s, opacity 0.01s linear 0.45s;
	-o-transition: -o-transform 0.5s cubic-bezier(0.8, 0, 0.2, 1) 0.7s, opacity 0.01s linear 0.45s;
	transition: transform 0.5s cubic-bezier(0.8, 0, 0.2, 1) 0.7s, opacity 0.01s linear 0.45s;
}

.hidden .gear .gear-tooth {
	opacity: 0;
	
	-webkit-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
	
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.8, 0, 0.2, 1) 0s, opacity 0.1s linear 0.5s;
	-moz-transition: -moz-transform 0.5s cubic-bezier(0.8, 0, 0.2, 1) 0s, opacity 0.1s linear 0.5s;
	-ms-transition: -ms-transform 0.5s cubic-bezier(0.8, 0, 0.2, 1) 0s, opacity 0.1s linear 0.5s;
	-o-transition: -o-transform 0.5s cubic-bezier(0.8, 0, 0.2, 1) 0s, opacity 0.1s linear 0.5s;
	transition: transform 0.5s cubic-bezier(0.8, 0, 0.2, 1) 0s, opacity 0.1s linear 0.5s;
}

.gear-tooth:nth-of-type(n+1) {
	-webkit-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
}

.gear-tooth:nth-of-type(n+2) {
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.gear-tooth:nth-of-type(n+3) {
	-webkit-transform: rotateZ(90deg);
	-moz-transform: rotateZ(90deg);
	-ms-transform: rotateZ(90deg);
	-o-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
}

.gear-tooth:nth-of-type(n+4) {
	-webkit-transform: rotateZ(135deg);
	-moz-transform: rotateZ(135deg);
	-ms-transform: rotateZ(135deg);
	-o-transform: rotateZ(135deg);
	transform: rotateZ(135deg);
}

.gear-tooth:nth-of-type(n+5) {
	-webkit-transform: rotateZ(180deg);
	-moz-transform: rotateZ(180deg);
	-ms-transform: rotateZ(180deg);
	-o-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
}

.gear-tooth:nth-of-type(n+6) {
	-webkit-transform: rotateZ(225deg);
	-moz-transform: rotateZ(225deg);
	-ms-transform: rotateZ(225deg);
	-o-transform: rotateZ(225deg);
	transform: rotateZ(225deg);
}

.gear-tooth:nth-of-type(n+7) {
	-webkit-transform: rotateZ(270deg);
	-moz-transform: rotateZ(270deg);
	-ms-transform: rotateZ(270deg);
	-o-transform: rotateZ(270deg);
	transform: rotateZ(270deg);
}

.gear-tooth:nth-of-type(n+8) {
	-webkit-transform: rotateZ(315deg);
	-moz-transform: rotateZ(315deg);
	-ms-transform: rotateZ(315deg);
	-o-transform: rotateZ(315deg);
	transform: rotateZ(315deg);
}
/** end of gear icon styles **/


/** droplet icon styles **/
.droplet .droplet-path {
	fill: none;
	
	stroke: rgba(255, 255, 255, 0.8);
	stroke-width: 5%;
	stroke-dasharray: 230;
	stroke-dashoffset: 0;
	
	-webkit-transition: stroke-dashoffset 0.5s ease-in;
	-moz-transition: stroke-dashoffset 0.5s ease-in;
	-ms-transition: stroke-dashoffset 0.5s ease-in;
	-o-transition: stroke-dashoffset 0.5s ease-in;
	transition: stroke-dashoffset 0.5s ease-in;
}

.hidden .droplet .droplet-path {
	stroke-dashoffset: 230;
}
/** end of droplet icon styles **/