<!DOCTYPE html>
<html lang="en" data-ng-app="whitewaterIOApp">

<head>

	<meta charset="utf-8" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<title>whitewater.io</title>

	<link rel="apple-touch-icon" href="/whitewater.io/media/touch-icon-iphone.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="/whitewater.io/media/touch-icon-ipad.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/whitewater.io/media/touch-icon-iphone-retina.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/whitewater.io/media/touch-icon-ipad-retina.png">
	
	<link rel="stylesheet" type="text/css" href="/whitewater.io/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/whitewater.io/css/pseudo-icons.css" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,800,800italic,900,900italic|Roboto+Condensed:400,700" />
	<link rel="stylesheet" type="text/css" href="/whitewater.io/css/whitewater.css" />

	<link href="/whitewater.io/favicon.ico" rel="shortcut icon" />
   
</head>

<body class="conditions-view" data-current-pane="conditions" data-ng-controller="RiverApp as whitewater.io">

<header class="">
	<div class="logo-container">
		<svg viewBox="0 0 100 100" class="logo droplet">
			<path class="droplet-path" d="m 76.863454,63.995781 c 0,15.662328 -12.696836,28.359106 -28.359171,28.359106 -15.662339,0 -28.35917,-12.696778 -28.35917,-28.359106 0,-15.662381 12.696831,-45.606868 44.777633,-57.0500238 C 52.391763,26.51522 76.863454,40.704608 76.863454,63.995781 z"/>
		</svg>
	</div><!--
	
 --><form class="search-container" data-ng-submit="whitewater.io.search(whitewater.io.searchText)">
 		<input id="search-input" type="text" placeholder="Find a river" data-ng-model="whitewater.io.searchText" />
 		<button type="submit" class="search-icon ps ps-search"></button>
		
		<div id="search-results" class="search-results">
			<div class="result" data-ng-repeat="result in whitewater.io.searchResults">
				<h2>{{ result.name }}</h2>
				<h3>{{ result.location }}</h3>
			</div>
		</div>
	</form>
</header>

<div class="container">
	
	<div class="river-conditions">
		<h2 class="river-name">{{ whitewater.io.displayRiver.name }}</h2>
		<h3 class="river-location">{{ whitewater.io.displayRiver.location }}</h3>
		<div id="river-flow" class="condition flow unit-label unit-cfs" data-title="Flow Rate">{{ whitewater.io.displayRiver.flow }}</div>
		<div id="river-depth" class="condition depth unit-label unit-ft" data-title="Depth">{{ whitewater.io.displayRiver.depth }}</div>
	</div>

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js"></script>
<script src="/whitewater.io/js/quo.js"></script>
<script src="/whitewater.io/js/River.js"></script>
<script src="/whitewater.io/js/whitewater.js"></script>

<div id="mobile-view"></div>
<div id="desktop-view"></div>

</body>
</html>